@font-face {
    font-family: r-500;
    src: url(./fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: r-400;
    src: url(./fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: r-600;
    src: url(./fonts/Rubik-SemiBold.ttf);
}

@font-face {
    font-family: r-700;
    src: url(./fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: sh-400;
    src: url(./fonts/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: t-400;
    src: url(./fonts/times.ttf);
}

@font-face {
    font-family: roboto-400;
    src: url(./fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1400px;
    height: 8118px;
    background-color: #F9F6F0;
    /* overflow: scroll #0000; */
}


/* -------- #NAVBAR START ---------*/

nav {
    display: flex;
    padding: 30px 0px 20px 90px;
    border-bottom: 1px solid rgba(236, 197, 197, 0.151);
    position: relative;
    z-index: 3;
}

.header {
    background-image: url("./images/hero-bg.jpg");
    height:750px ;
}

.navbar-h1 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family:r-700;
    padding-right: 410px;
}

.navbar-span {
    color: #FF9D2E;
    font-size: 28px;
    font-family:r-500;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-right: 70px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
    font-size: 16px;
    font-family:r-500;
    cursor: pointer;
}

a:hover {
    color: hsl(3, 90%, 55%);
}

.navbar-button {
    margin-top: -15px;
    width: 151px;
    height: 45px;
    color:rgb(255, 255, 255);
    font-size: 14px;
    font-family:r-500;
    background-color: hsl(32, 100%, 59%);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        background: #000;
        width: 42px;
        height: 42px;
        left: -42px;
        bottom: -40px;
        border-radius: 10px;
        transform: scale(1);
        transition: transform 0.70s ease-out;
    }

    &:hover::before {
        transform: scale(21);
    }
}

.navbar-button:hover {
    color: rgb(255, 255, 255);
}

/* -------- #NAVBAR END ---------*/


/* -------- #HEADER START ---------*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 130px 0px 0px 90px;
}

/* -------- #TOP LEFT START ---------*/

.top-p {
    color: rgb(255, 141, 41);
    font-size: 32px;
    font-family:sh-400;
    padding-bottom: 30px;
}

.top-h1 {
    width: 700px;
    color: rgb(241, 214, 198);
    font-size: 70px;
    font-family:r-700;
    padding-bottom: 15px;
    /* margin-right: 550px; */
}

.top-p2 {
    color:rgb(232, 204, 187);
    font-size:18px;
    font-family:r-400;
    padding-bottom: 30px;
    line-height: 29px;
}

.top-button {
    position: relative;
    width: 154px;
    height: 45px;
    color:rgb(255, 255, 255);
    font-size: 14px;
    font-family:r-500;
    background-color: hsl(32, 100%, 59%);
    border: none;
    cursor: pointer;
    z-index: 4;
}

.top-button:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
}

/* -------- #TOP LEFT END ---------*/



/* -------- #TOP RIGHT START ---------*/
.top-right-img1 {
    position: relative;
    left: -100px;
    top: -10px;
    z-index: 3;
}

#burger-img {
    width: 620px;
    height: 550px;
}

.top-right-img2 {
    position: relative;

    top: -870px;
    margin-left: -670px;
    /* right: 0; */
    z-index: 1;
}
.top-right-img3 {
    position: relative;
    margin-top:-1555px;
    margin-left: -205px;
    z-index: 2;
}

#right-img {
    width: 875px;
    height: 750px;
}

/* -------- #TOP RIGHT END ---------*/





/* -------- #MENU STAR ---------*/

.menu {
    display: flex;
    padding: 200px 100px 0px 90px;
}


/* -------- #PIZZA STAR ---------*/
.pizza {

    width: 280px;
    height: 508px;
    padding: 40px 30px;
    background-color: #ffffff;
    margin-right: 15px;
    border: 3px solid #00000000;
    cursor: pointer;
    text-align: center;
    border: none;
    background: linear-gradient(-10deg, #FF9D2E 30%, #ffffff 0%);

    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        background: #FF9D2E;
        width: 280px;
        height: 52px;
        right:-560px;
        bottom: -10px;
        border-radius: 50px;
        transform: scale(1);
        transition: transform 0.35s ease-out;
    }

    &:hover::before {
        transform: scale(41);
    }
}

.pizza:hover  {
   svg {
    fill: white;
    /* position: relative;
    z-index: 20; */
   }
   .pizza-p2 {
    color: white;
   }

   .pizza-h1 {
    color: white;
   }

}

.pizza{
    border: 1px solid #f3f2f1f1;
}

svg {
    padding-top: -5px;
    margin-bottom: 10px;
    transition: fill 0.1s ease;
    fill:#FF9D2E;
    /* color:#FF9D2; */
}

.pizza-h1 {
    color: #000;
    font-size: 22px;
    font-family: r-600;
    padding-bottom: 20px;
}

.pizza-p2 {
    color: rgb(179, 176, 176);
    font-size: 16px;
    font-family: r-400;
    line-height: 26px;
    padding-bottom: 10px;
}

.pizza-img {
    width: 200px;
    height: 200px;
}
/* -------- #PIZZA END ---------*/

.menu-word {
    margin-top: 40px;
    margin-left: 580px;
    width: 180px;
    height: 14px;
    border-radius: 50px;
    border:1px solid #FF9D2E;
    cursor: pointer;
    margin-bottom: 100px;
}
.menu-words {
    margin-top: 3px;
    margin-left: 7px;
    width: 160px;
    height: 5px;
    border-radius: 50px;
    /* border:1px solid #FF9D2E; */
    background: linear-gradient(50deg, #FF9D2E 80%, #F9F6F0 0%);
}

/* -------- #MENU END ---------*/




/* -------- #CAFERIO BURGERS START ---------*/

.caferio {
    position: relative;
    background-color: #ffffff;
    display: flex;
    /* height: 800px;
    width: 1400px; */
}

.caferio-left {
    margin-top: 130px;
    margin-left: 110px;
    margin-bottom: 150px;
}

.caferio-left-img {
    position: relative;
    top: -240px;
    width: 230px;
    height:230px;
    left: -440px;
    animation: chegirma 2s alternate ease-in-out infinite;
}

.samsung {
    position: absolute;
    margin-top: -10px;
}

.samsung-2 {
    position: absolute;
    bottom: -5px;
    z-index: 2;
}

.samsung-img {
    width: 1400px;
}


.caferio-right {
    padding: 130px 0px 0px 0px;
    /* padding-right: 200px; */
    margin-left: -150px;
}

.caferio-h1 {
    color: #0D1216;
    font-size: 42px;
    font-family: r-600;
    /* margin-top: 50px; */
    margin-bottom: 10px;
}

.caferio-span {
    color:#FF9D2E;
    font-size: 42px;
    font-family: r-600;
}

.caferio-p {
    color: rgb(120, 120, 120);
    font-size: 16px;
    font-family: r-400;
    line-height: 26px;
    margin-bottom: 20px;
}

.checkbox {
    display: flex;
}

.caferio-right-icons {
    background-color: #FF9D2E;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.check {
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.box-h3 {
    color:#0D1216;
    font-size: 16px;
    font-family: r-500;
    margin-bottom: 22px;
    margin-left: 12px;
}

.caferio-button {
    margin-top: 15px;
    width: 151px;
    height: 50px;
    color:rgb(255, 255, 255);
    font-size: 14px;
    font-family:r-500;
    background-color: hsl(32, 100%, 59%);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        background: #000;
        width: 42px;
        height: 42px;
        left: -42px;
        bottom: -40px;
        border-radius: 10px;
        transform: scale(1);
        transition: transform 0.70s ease-out;
    }

    &:hover::before {
        transform: scale(21);
    }
}

.caferio-button:hover {
    color: rgb(255, 255, 255);
}
/* -------- #CAFERIO BURGERS END ---------*/



/* -------- #POPULAR DISHES START ---------*/
.popular-menu-top {
    text-align: center;
    margin-top: 100px;
}

.popular-menu-h2 {
    color:rgb(244, 47, 37);
    font-size: 18px;
    font-family: r-500;
    margin-bottom: 10px;
}

.popular-menu-h1 {
    color:rgb(13, 18, 22);
    font-size: 44px;
    font-family: r-600;
    margin-bottom: 10px;
}

.populer-h1-span {
    color: #FF9D2E;
}

.popular-menu-p {
    color:rgb(120, 120, 120);
    font-size: 16px;
    font-family: r-400;
    line-height: 26px;
    margin-bottom: 25px;
}


.popular-buttom-1 {
    width: 60px;
    height: 40px;
    color:rgb(13, 18, 22);
    font-size: 16px;
    font-family: r-500;
    background-color:#ffffff;
    border: 1px solid #EDEDED;
    margin-right: 10px;
    box-shadow: 3px 3px 5px #e6e4e4;
    cursor: pointer;
}

.popular-buttom-1:hover {
    background-color:#FF9D2E;
    color:#ffffff;
}

.popular-buttom-2 {
    width: 70px;
    height: 40px;
    color:rgb(13, 18, 22);
    font-size: 16px;
    font-family: r-500;
    background-color:#ffffff;
    border: 1px solid #EDEDED;
    margin-right: 10px;
    box-shadow: 3px 3px 5px #e6e4e4;
    cursor: pointer;
}

.popular-buttom-2:hover {
    background-color:#FF9D2E;
    color:#ffffff;
}

.popular-buttom-3 {
    width: 80px;
    height: 40px;
    color:rgb(13, 18, 22);
    font-size: 16px;
    font-family: r-500;
    background-color:#ffffff;
    border: 1px solid #EDEDED;
    margin-right: 10px;
    box-shadow: 3px 3px 5px #e6e4e4;
    cursor: pointer;
}

.popular-buttom-3:hover {
    background-color:#FF9D2E;
    color:#ffffff;
}

.popular-buttom-4 {
    width: 100px;
    height: 40px;
    color:rgb(13, 18, 22);
    font-size: 16px;
    font-family: r-500;
    background-color:#ffffff;
    border: 1px solid #EDEDED;
    box-shadow: 3px 3px 5px #e6e4e4;
    cursor: pointer;
}

.popular-buttom-4:hover {
    background-color:#FF9D2E;
    color:#ffffff;
}


/* POPULAR MENU TOP 2 START */
.popular-menu-top-2 {
    position: relative;
    padding-left: 100px;
}

.popular-menu-top-2:hover .order-now-button{
    visibility: visible;
}

.price {
    position: relative;
    text-align: center;
    background-color: #ffffff;
    width: 380px;
    height: 530px;
    margin-top: 50px;
    box-shadow: 3px 3px 5px #ececec;
}

.order-now-button {
    position: absolute;
    left: 200px;
    top: 270px;
    width: 200px;
    height: 40px;
    background-color: #F42F25;
    color: #ffffff;
    font-size: 16px;
    font-family: r-500;
    border: none;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
}

.order-now-button:hover {
    background-color: #FF9D2E;
}

.price-button {
    position: absolute;
    left: 50px;
    margin-top: 50px;
    width: 60px;
    height: 25px;
    background-color: #F42F25;
    color: #ffffff;
    font-size: 13px;
    font-family: r-600;
    border: none;
}

.price-img {
    padding-top: 80px;
}

.price-chicken {
    position: relative;
    display: flex;
    margin-left: 60px;
}

.price-stars {
    position: absolute;
    left: 80px;
    top: 15px;
    color: #FF9D2E;
}

.fa-solid {
    /* width: 20px;
    height: 2px; */
    margin-right: 5px;
    font-size: 12px;
}

.price-p {
    color:rgb(120, 120, 120);
    font-size: 16px;
    font-family: r-500;
    margin-top: 15px;
    margin-bottom: 10px;
}

.price-h1 {
    color: rgb(13, 18, 22);
    font-size: 22px;
    font-family: r-600;
    margin-bottom: 10px;
    margin-left: -10px;
}

.price-h2 {
    color:#F42F25;
    font-size: 20px;
    font-family: r-600;
    /* margin-bottom: 10px; */
    margin-left: 10px;
    width: 300px;
}

.price-span {
    color:#FF9D2E;
    font-size: 17px;
    font-family: r-600;
    margin-left: 10px;
}

.price-del {
    color:rgb(186, 186, 186);
    font-size: 17px;
    font-family: r-600;
    margin-left: 5px;
}

.popular {
    display: flex;
}

#popular-menu-top-3 {
    margin-left: -70px;
}

#price-h1 {
    margin-left: -40px;
}

#price-h1-1 {
    margin-left: -60px;
}

#price-h1 {
    margin-left: -45px;
} 

#price-kung-po {
    margin-left: -25px;
} 

#price-chicken{
    margin-left: -85px;
} 

/* -------- #POPULAR DISHES END ---------*/




/* -------- #THE FOODIE HAVE START ---------*/
.foodie-have {
    height: 650px;
    position: relative;
    display: flex;
    margin-top: 150px;
    background-image: url("./images/hero-bg.jpg");
}

/* .foodie-have-img {
    position: absolute;
    width: 2600px;
} */

.shape-grey-img {
    top: 630px;
    position: absolute;
    width: 1400px;
    z-index: 2;
}

.shape-grey-img-2 {
    position: absolute;
    top: -5px;
    width: 1400px;
    right: 0px;
    z-index: 2;
    transform: rotate(180deg);
}

.foodie-have-left {
    padding: 150px 100px 0px 80px;
}

.foodie-left-h1 {
    color:rgb(255, 255, 255);
    font-size: 42px;
    font-family: r-600;
    margin-bottom: 40px;
    width: 600px;
}

.foodie-left-span {
    color: #FF9D2E;
}

.foodie-left-p {
    color:rgb(222, 222, 222);
    font-size: 16px;
    font-family: r-400;
    line-height: 26px;
    margin-bottom: 10px;
}

.foodie-have-right {
    position: relative;
    height: 500px;
}

.foodie-right-img {
    position: relative;
    right: 130px;
    width: 750px;
    height: 730px;
}

.foodie-right-img-2 {
    position: absolute;
    top: 80px;
    right: 640px;
    width: 200px;
    height: 200px;
    animation: chegirma 2s ease-in-out alternate infinite;
}

@keyframes chegirma {
    0% {
        transform: scale(1);
    }
    100% {
        transform:scale(1.1);
    }
}
/* -------- #THE FOODIE HAVE END ---------*/



/* -------- # A MOMENTS OF DELIVERED ON RIGHT TIME START ---------*/
.middle {
    display: flex;
    background-color: #ffffff;
    height: 650px;
}

.middle-left {
    padding: 180px 0px 0px 80px;
}

.middle-left-h1 {
    color: rgb(13, 18, 22);
    font-size: 42px;
    font-family: r-600;
    margin-bottom: 20px;
}

.middle-left-span {
    color: #FF9D2E;
}

.middle-left-p {
    color:  rgb(120, 120, 120);
    font-size: 16px;
    font-family: roboto-400;
    margin-bottom: 10px;
    line-height: 26px;
}

.middle-right {
    position: relative;
}

.middle-right-img {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 600px;
    height: 500px;
}

.middle-right-2-p {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 600px;
    height: 600px;
    z-index: 2;
    animation: velo 1s linear alternate;
}

@keyframes velo {
    0% {
        transform: translatex(0px);
    }
    100% {
        transform: translatex(10px);
    }
}
/* -------- # A MOMENTS OF DELIVERED ON RIGHT TIME END ---------*/



/* -------- # OUR CUSTOMERS REVIEWS START ---------*/
.reviews {
    display: grid;
    /* height: 100px; */
    text-align: center;
    background-color:#F9F6F0 ;
    /* background-color: #F42F25; */
    position: relative;
}

.reviews-grey-img {
    top: -3px;
    width: 100%;
    position: relative;
    transform: rotate(180deg);
}

.reviews-white-img {
    /* border: 3px solid red; */
    top: 20px;
    bottom: 0px;
    width: 100%;
    position: relative;
    z-index: 2;
    transform: rotate(180deg);
}

.reviews-h2 {
    margin-top: 100px;
    font-size: 18px;
    font-family: r-500;
    color:rgb(250, 36, 25);
}

.reviews-h1 {
    margin-top: 10px;
    font-size: 42px;
    font-family: r-600;
    color:black;
}

.reviews-span {
    margin-top: 10px;
    font-size: 42px;
    font-family: r-600;
    color:#FF9D2E;
}

.reviews-p {
    margin-top: 10px;
    font-size: 17px;
    font-family: roboto-400;
    color:rgb(120, 120, 120);
    line-height: 26px;
}

.reviews-images-img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.review-top {
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    margin-top: 40px;
    padding-bottom: 100px;
}

.reviews-left {
    margin-left: 80px;
    width: 400px;
    background-color:rgb(255, 255, 255);
    box-shadow: 3px 3px 5px #F9F6F0;
}

.reviews-left-box {
    display: flex;
}

.rewiews-images {
    padding: 30px;
}

.reviews-name-h1 {
    margin-top: 45px;
    font-size: 18px;
    font-family: r-600;
    color:black;
}

.reviews-name-p {
    margin-left: -30px;
    margin-top: 3px;
    font-size: 14px;
    font-family: r-400;
    color:rgb(120, 120, 120);
}

.reviews-left-p {
    margin-left: 30px;
    /* margin-top: 3px; */
    font-size: 16px;
    font-family: roboto-400;
    color:rgb(120, 120, 120);
    line-height: 26px;
    text-align: left;
}

.reviews-stars {
    margin-left: -230px;
    margin-bottom: 40px;

}

.fa-solid {
    margin-top: 20px;
    color: #FF9D2E;
}


.reviews-middle {
    margin-left: 15px;
    width: 400px;
    background-color:rgb(255, 255, 255);
    box-shadow: 3px 3px 5px #F9F6F0;
}

.reviews-right {
    margin-left: 15px;
    width: 400px;
    background-color:rgb(255, 255, 255);
    box-shadow: 3px 3px 5px #F9F6F0;
}

/* -------- # OUR CUSTOMERS REVIEWS END ---------*/



/* -------- # OFF NOW START ---------*/
.off_now {
    position: relative;
    height: 670px;
    padding-top: 100px;
    background-color: #ffffff;
    display: flex;
}

.off_now-items {
    position: relative;
    margin: 50px;
    width:580px;
    height: 430px;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
}

.off-now-img {
    width:100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.off_now-items:hover .off-now-img  {
   transform: scale(1.1);
}

.off_now-items-h1 {
    position: absolute;
    font-size: 32px;
    font-family: r-600;
    line-height: 43px;
    color:rgb(255, 255, 255);
    left: 30px;
    top: 110px;
}

.off_now-items-p {
    position: absolute;
    font-size: 16px;
    font-family: roboto-400;
    color:rgb(255, 255, 255);
    left: 30px;
    top: 250px;
}

.submit-btn-1 {
    position: absolute;
    left: 30px;
    top: 270px;
    width: 120px;
    height: 40px;
    background-color: #FF8D29;
}


.off_now-item-top {
    display: flex;
}

.delicious_pizza {
    position: absolute;
    top: 150px;
    left: 640px;
    width:300px;
    height: 190px;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
}

.delicious_pizza:hover .off-now-img {
    transform: scale(1.1);
}

.off_now-item-h1 {
    position: absolute;
    font-size: 32px;
    font-family: r-600;
    line-height: 43px;
    color:rgb(255, 255, 255);
    left: 20px;
    top: 10px;
}

.off_now-item-p {
    position: absolute;
    font-size: 16px;
    font-family: roboto-400;
    color:rgb(255, 255, 255);
    left: 20px;
    top: 100px;
}

.submit-top-btn {
    position: absolute;
    left: 20px;
    top: 115px;
    width: 120px;
    height: 40px;
}

.off_now-item-top-right {
    position: absolute;
    top: 150px;
    left: 950px;
    width:300px;
    height: 190px;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
}

.off_now-item-top-right:hover .off-now-img {
    transform: scale(1.1);
}

.off_now-item-top-h1 {
    position: absolute;
    font-size: 32px;
    font-family: r-600;
    line-height: 43px;
    color:rgb(255, 255, 255);
    left: 20px;
    top: 10px;
}

.off_now-item-top-p {
    position: absolute;
    font-size: 16px;
    font-family: roboto-400;
    color:rgb(255, 255, 255);
    left: 20px;
    top: 100px;
}

.submit-right-btn {
    position: absolute;
    left: 20px;
    top: 115px;
    width: 120px;
    height: 40px;
}

.off_now-item-box {
    position: absolute;
    top: 348px;
    left: 640px;
    width:609px;
    height: 231px;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
}

.off_now-item-box:hover .off-now-img {
    transform: scale(1.1);
}

.off_now-item-box-h1 {
    position: absolute;
    font-size: 32px;
    font-family: r-600;
    line-height: 43px;
    color:rgb(255, 255, 255);
    left: 340px;
    top: 25px;
}

.off_now-item-box-p {
    position: absolute;
    font-size: 16px;
    font-family: roboto-400;
    color:rgb(255, 255, 255);
    left: 340px;
    top: 120px;
}

.submit-box-btn {
    position: absolute;
    left: 340px;
    top: 140px;
    width: 120px;
    height: 40px;
}

.img-off-now {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
/* -------- # OFF NOW END ---------*/



/* -------- # Latest Blog Posts START ---------*/
.blog_posts {
   text-align: center;
}

.blog-posts-p1 {
    font-size: 16px;
    font-family: r-500;
    color: rgb(244, 47, 37);
    padding-top: 100px;
}

.blog-h1 {
    font-size: 42px;
    font-family: r-600;
    color:rgb(13, 18, 22);
    padding-top: 10px;
}

.blog-span {
    color:rgb(255, 157, 46);
}

.blog-p2 {
    font-size:16px;
    font-family: roboto-400;
    color:rgb(120, 120, 120);
    padding-top: 10px;
    line-height: 26px;
    padding-bottom: 30px;
}

.blog-ul {
    width: 1170px;
    height: 515px;
    gap: 30px;
    margin: 0 auto;
}


.blog-pizza {
    position: relative;
    background-color: white;
    box-shadow: 3px 3px 5px rgb(175, 173, 173);
    padding-right: 0px;
}

.blog-img {
    width: 370px;
    height: 240px;
    position: relative;
}

.blog-1-images {
    width: 100%;
    height: 100%;
}

.blog-btn {
    width: 65px;
    height: 30px;
    background-color: #EB8314;
    font-size:12px;
    font-family: r-600;
    color:white;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.blog-btn-2 {
    width: 75px;
    height: 30px;
    background-color: #EB8314;
    font-size:12px;
    font-family: r-600;
    color:white;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.blog-btn-3 {
    width: 75px;
    height: 30px;
    background-color: #EB8314;
    font-size:12px;
    font-family: r-600;
    color:white;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.blog-li-p {
    position: relative;
    left: 30px;
    text-align: start;
    font-size:16px;
    font-family:r-600;
    cursor: pointer;
}

.blog-b:hover {
   color: #FF9D2E;
}

.blog-b2:hover {
   color: #FF9D2E;
}

.fa-calendar-days {
    font-size:16px;
    color: #EB8314;
}

.fa-user {
    font-size:16px;
    color: #EB8314;
    margin-left: 20px;
}

.blog-li-h1 {
    font-size:22px;
    font-family: r-600;
    color:black;
    margin-top: 20px;
    position: relative;
    left: 30px;
    text-align: start;
    cursor: pointer;
}

.blog-li-h1:hover {
    text-decoration:underline;
    color:rgb(78, 78, 78);
}

.blog-pizza-p {
    font-size:16px;
    font-family: roboto-400;
    color:rgb(120, 120, 120);
    margin-top: 20px;
    line-height: 26px;
    position: relative;
    left: 30px;
    text-align: start;
}

#blog-read_more {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    text-align: start;
}
/* -------- # Latest Blog Posts END ---------*/